[package]
name = "alkanes"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[features]
test-utils = []
<<<<<<< HEAD
testnet = []
dogecoin = []
luckycoin = []
bellscoin = []
fractal = []
zcash = ["ordinals/zcash", "protorune/zcash", "alkanes-support/zcash"]
mainnet = ["protorune/mainnet"]
proxy = []
owned_token = []
auth_token = []
genesis_alkane = []
regtest = []
genesis_protorune = []
amm_pool = ["auth_token"]
amm_factory = ["auth_token"]
amm = ["amm_pool", "amm_factory"]
orbital = []
=======
zcash = ["ordinals/zcash", "protorune/zcash"]
>>>>>>> 64b3488c046eb8d830bf70e191ebc42df04eb5e0
cache = ["protorune/cache"]
debug-log = []

[dependencies]
anyhow = { workspace = true }
num = { workspace = true }
bitcoin = { workspace = true }
metashrew-core = { workspace = true }
metashrew-support = { workspace = true }
ordinals = { workspace = true }
protorune = { workspace = true }
protorune-support = { workspace = true }
alkanes-support = { workspace = true }
ruint = { workspace = true }
wasm-bindgen = { workspace = true }
byteorder = { workspace = true }
wasm-bindgen-test = { workspace = true }
wasmi = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
hex = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
bytes = { workspace = true }
wasm-bindgen-futures = { workspace = true }
web-sys = { workspace = true }
js-sys = { workspace = true }
hex_lit = { workspace = true }
once_cell = { workspace = true }
borsh = { version = "1.5.7", features = ["derive"] }
sha2 = "0.10.9"

[dev-dependencies]
alkanes = { path = "." }
metashrew-core = { workspace = true, features = ["test-utils"] }
protorune = { workspace = true, features = ["test-utils"] }
