[package]
name = "alkanes-pretty-print-macro"
version.workspace = true
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
serde_json = "1.0"
