[package]
name = "alkanes-support"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
zcash = []

[dependencies]
anyhow = { workspace = true }
protorune-support = { workspace = true }
metashrew-support = { workspace = true }
bitcoin = { workspace = true }
serde = "1.0.213"
flate2 = "1.0.34"
prost = { workspace = true }
prost-types = { workspace = true }

[dev-dependencies]
hex = { workspace = true }

[build-dependencies]
anyhow = { workspace = true }
prost-build = { workspace = true }
hex = { workspace = true }